<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Generador de Recetas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <span for="recipeType" class="radio-group-label">Selecciona el tipo de receta</span>
          <mat-radio-group formControlName="recipeType" class="radio-group"
            aria-labelledby="radio-group-label">
            <mat-radio-button value="idea">Por idea</mat-radio-button>
            <mat-radio-button value="ingredients">Por ingredientes</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" >
            <mat-label>{{ addressForm.value.recipeType === 'idea' ? 'Describe tu idea de receta' : 'Ingredientes separados por comas' }}</mat-label>
            <textarea matInput formControlName="recipeInput" cdkTextareaAutosize  cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" floatLabel="always">
            <mat-label>Restricciones dietéticas</mat-label>
            <mat-chip-grid #reactiveChipGrid aria-label="Selecciona restricciones dietéticas" [formControl]="formControl">
              @for (restriction of dietaryRestrictions(); track restriction) {
              <mat-chip-option (removed)="removeDietaryRestriction(restriction)">
                {{restriction}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-option>
              }
            </mat-chip-grid>
            <input placeholder="Nueva restricción..." [matChipInputFor]="reactiveChipGrid"
              (matChipInputTokenEnd)="addDietaryRestriction($event)" />
          </mat-form-field>
        </div>
      </div>
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Generar Receta</button>
      <button mat-raised-button type="button" (click)="resetForm()">Reiniciar</button>
    </mat-card-actions>
  </mat-card>
</form>