
<form [formGroup]="recipeForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="recipe-form-card">
    @if(isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-card-header>
      <mat-card-title>Generador de Recetas</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" >
            <mat-label>Ingredientes separados por comas</mat-label>
            <textarea matInput formControlName="ingredients" cdkTextareaAutosize  cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="10"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" floatLabel="always">
            <mat-label>Restricciones dietéticas</mat-label>
            <mat-chip-grid #chipGrid aria-label="Selecciona restricciones dietéticas">
              <!-- Default restrictions (can be selected but not removed) -->
              @for (restriction of defaultRestrictions(); track restriction) {
              <mat-chip-option 
                [selected]="selectedRestrictions.value?.includes(restriction)"
                (selectionChange)="toggleDefaultRestriction(restriction, $event.selected)"
                [removable]="false">
                {{restriction}}
              </mat-chip-option>
              }
              
              <!-- Custom restrictions (can be selected and removed) -->
              @for (restriction of customRestrictions(); track restriction) {
              <mat-chip-option 
                [selected]="selectedRestrictions.value?.includes(restriction)"
                (selectionChange)="toggleCustomRestriction(restriction, $event.selected)"
                (removed)="removeCustomRestriction(restriction)">
                {{restriction}}
                <button matChipRemove [ariaLabel]="'Quitar ' + restriction">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-option>
              }
            </mat-chip-grid>
            <input placeholder="Nueva restricción..." [matChipInputFor]="chipGrid"
              (matChipInputTokenEnd)="addCustomRestriction($event)" />
          </mat-form-field>
        </div>
      </div>
     
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading()">Generar Receta</button>
      <button mat-raised-button type="button" (click)="resetForm()" [disabled]="isLoading()">Reiniciar</button>
    </mat-card-actions>
  </mat-card>
</form>