.recipe-form-card {
    overflow: hidden;
    position: relative;
}

.progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin-right: 20px;
}

.col:last-child {
    margin-right: 0;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.title{
    margin-bottom: 1rem;
}