<mat-toolbar>
  <div class="toolbar-container">
    <button mat-icon-button aria-label="Logo">
      <mat-icon>flatware</mat-icon>
    </button>
    <span>¿Que Cocino?</span>
    <span class="toolbar-spacer"></span>
    @if(user$ | async;as user) {
      <!-- <button mat-icon-button aria-label="Favoritos">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Mis recetas">
        <mat-icon>book</mat-icon>
      </button> -->
      <app-user-menu />
    } @else {
      <button mat-button (click)="authDialogStateService.openAuthDialog()">
        <mat-icon>person</mat-icon>
        Iniciar Sesión
      </button>
    }
  </div>
</mat-toolbar>