<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="ejemplo@correo.com"
          />
          @if (
            loginForm.controls['email'].invalid &&
            (loginForm.controls['email'].dirty ||
              loginForm.controls['email'].touched)
          ) {
            @if (loginForm.controls['email'].errors?.['required']) {
              <mat-error
                >El correo electrónico es
                <strong>obligatorio</strong></mat-error
              >
            } @else if (loginForm.controls['email'].errors?.['email']) {
              <mat-error
                >Por favor ingrese un correo electrónico
                <strong>válido</strong></mat-error
              >
            }
          }
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-icon
            matSuffix
            (click)="togglePasswordVisibility()"
            class="visibility-icon"
          >
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          @if (
            loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched)
          ) {
            @if (loginForm.controls['password'].errors?.['required']) {
              <mat-error
                >La contraseña es <strong>obligatoria</strong></mat-error
              >
            } @else if (loginForm.controls['password'].errors?.['minlength']) {
              <mat-error
                >La contraseña debe tener al menos 6 caracteres</mat-error
              >
            }
          }
        </mat-form-field>
      </div>

      <div class="login-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Iniciar Sesión
        </button>
      </div>
    </form>
</div>