<mat-card class="recipe-card" appearance="outlined">
  <div class="recipe-image-container">
    @if(recipe.image) {
    <img mat-card-image [src]="recipe.image" alt="Foto de la receta">
    } @else {
    <div class="image-placeholder">
      <button mat-raised-button color="primary" matTooltip="No disponible aún" [matTooltipPosition]="'above'"
        [disabled]="isLoading()" (click)="generateImage()">
        <mat-icon>add_photo_alternate</mat-icon>
        Generar Imagen
      </button>
    </div>
    }
  </div>
  <div class="recipe-content">
    <mat-card-header>
      <mat-card-title>{{recipe.title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      @if(recipe.description){
      <p class="recipe-description">
        {{recipe.description}}
      </p>
      }

      <div class="recipe-tags">
        <mat-chip-set aria-label="Etiquetas de la receta">
          @for(tag of recipe.tags; track tag){
          <mat-chip color="primary" disableRipple>{{tag}}</mat-chip>
          }
        </mat-chip-set>
      </div>

      <div class="recipe-metadata">
        <div class="metadata-item">
          <mat-icon aria-hidden="false" aria-label="Dificultad">signal_cellular_alt</mat-icon>
          <span>Dificultad:</span>
          <b>{{recipe.difficulty}}</b>
        </div>

        <div class="metadata-item">
          <mat-icon aria-hidden="false" aria-label="Tiempo de preparación">schedule</mat-icon>
          <span>Preparación: </span>
          <b>{{recipe.prepTime}} min</b>
        </div>

        <div class="metadata-item">
          <mat-icon aria-hidden="false" aria-label="Tiempo de cocción">timer</mat-icon>
          <span>Cocción:</span>
          <b>{{recipe.cookTime}} min</b>
        </div>

        <div class="metadata-item">
          <mat-icon aria-hidden="false" aria-label="Porciones">people</mat-icon>
          <span>Porciones:</span>
          <b>{{recipe.servings}}</b>
        </div>
      </div>

      <div class="dietary-restrictions">
        <mat-chip-set aria-label="Restricciones dietéticas">
          @for(restriction of recipe.restrictions; track restriction){
          <mat-chip color="accent" disableRipple>
            <mat-icon matChipAvatar>check_circle</mat-icon>
            {{restriction}}
          </mat-chip>
          }
        </mat-chip-set>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-flat-button (click)="viewFullRecipe()">Ver receta completa</button>
    </mat-card-actions>
  </div>
</mat-card>