<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <input type="text" name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search..." [disabled]="isDisabled" />
    <button type="submit" [disabled]="isDisabled">Submit</button>
</form>


<button (click)="login()">
    login with google
</button>

@if(recipes$ | async; as recipes) {
    @for(recipe of recipes; track recipe.id) {
        <div>
            @if(recipe.imageUrl) {
                <img [src]="recipe.imageUrl" alt="{{ recipe.name }}" />
            }
            <h2>{{ recipe.name }}</h2>
            <p>{{ recipe.description }}</p>
        </div>
    }
}@else {
    <p>No recipes found.</p>
}
