<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." [disabled]="isDisabled" />
    <button type="submit" [disabled]="isDisabled">Submit</button>
</form>


@if(recipes$ | async; as recipes) {
    @for(recipe of recipes; track recipe.id) {
        <div>
            @if(recipe.image) {
                <img [src]="recipe.image" alt="{{ recipe.title }}" />
            }
            <h2>{{ recipe.title }}</h2>
            <p>{{ recipe.description }}</p>
        </div>
    }
}@else {
    <p>No recipes found.</p>
}
