<section class="recipe-list-container">
  <header class="recipe-list-header">
    <h2>Recetas Generadas</h2>
  </header>

  <div class="recipe-list">
    @for (recipe of recipes; track recipe.id) {
    <app-recipe-card [recipe]="recipe" (viewRecipe)="openDetail($event)" />
    }

    @if (recipes.length === 0) {
    <p class="no-recipes">No hay recetas para mostrar</p>
    }
  </div>

  @if (recipes.length > 0) {
  <div class="load-more-container">
    <button 
      mat-raised-button 
      color="primary" 
      (click)="loadMore()" 
      [disabled]="isLoadingMore"
      class="load-more-button"
    >
      @if (isLoadingMore) {
      <mat-spinner diameter="20" class="spinner"></mat-spinner>
      } @else {
      <span>Cargar más recetas</span>
      }
    </button>
  </div>
  }
</section>