@use '@angular/cdk/overlay-prebuilt.css';
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((color: mat.$violet-palette,
      typography: Roboto,
      density: 0));
}

body {
  margin: 0;
  padding: 0;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: var(--mat-sys-body-large-font);
}